* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  color: rgb(223, 4, 95);
  box-shadow: 2px 2px 50px rgb(102, 32, 61);
  text-align: center;
  margin: 2rem auto;
  width: 300px;
  border-radius: 10px;
  padding: 0.5rem;
}

@import "./components/Player/Player";
@import "./components/Songs/Songs";
@import "./components/SongList/SongList";
@import "./components/ToggleList/toggleList";
