* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  min-height: 100vh;
  min-width: 500px;
  background-color: #f7f7f7;
  margin: 0 0.5rem;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
  letter-spacing: 1px;
  font-size: 40px;
}
.wrapper {
  max-width: 1000px;
}

@import "./components/Player/Player";
@import "./components/Songs/Songs";
@import "./components/SongList/SongList";
@import "./components/ToggleList/toggleList";
